* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* share items */
.btn {
    color: white;
    border-radius: 5px;
    padding: 18px 36px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
}

/* main items */
/* nav section */
.hero-container {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
}

nav h2 {
    font-size: 45px;
    font: weight 800px;
    ;
}

nav h2 span {
    color: #FD6E0A;
}

nav .manue {
    display: flex;
    gap: 51px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

.manue li a {
    text-decoration: none;
    color: #474747;
}