* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* share items */
.btn {
    color: white;
    border-radius: 5px;
    padding: 18px 36px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
}
.btn2{
       color:#FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    border:2px solid #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    background-color:#FFF8F3;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}
.about-title2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.about-description{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 30px;
}
.lable{
    color: #757575;
    font-size: 20px;
}
.lable02{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

/* nav section */
.hero-container {
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url(../images/header_bg.png)  #FFF8F3 ;
    background-repeat: no-repeat;
    background-position: 23px 38px , bottom right;
    padding-top: 51px;
}

nav {
    display: flex;
    width: 71%;
    max-width: 1440px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
 
}

nav h2 {
    font-size: 45px;
    font: weight 800px;
    ;
}

nav h2 span {
    color: #FD6E0A;
}

nav .manue {
    display: flex;
    gap: 51px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

.manue li a {
    text-decoration: none;
    color: #474747;
}
/* banner section */
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0px 230px;
}
.banner-contant{
   max-width: 584px;
}
.banner-title{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-name {
    color: #181818;
    font-size: 85px;    
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
}
.banner-image img{
    max-width: 584px;
    vertical-align: middle;
    
    
}
/* About Me  */
.about-section{
    max-width: 71%;
    margin: 130px auto;
    background-color:#FFF8F3 ;
    border-radius: 10px;
    text-align: center;
    padding: 131px 156px;
}
.personal-info{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
/* What I do */
.what-i-do{
    text-align: center;
    margin: 136px auto 0px;
    max-width: 827px;
}
/* card section */
.card-box{
    margin: 50px auto 130px;
    max-width: 71%;
    display: flex;
    gap: 24px;
}
.card {
    max-width: 267px;
    padding: 30px;
    box-shadow: 0px 6px 50px #00000038;
    border-radius: 5px;
}
.card img {
    max-width: 44px;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-description{
    font-size: 16px;
    color: #757575;
}
/* resume section */
.resume{
    max-width: 71%;
    margin: auto;
}
.mother-container{
    display: flex;
    gap: 24px;
}
.resume-heading{
    margin-top: 113px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.resume-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.where{
    font-size: 20px;
    font-weight:500;
    color: #757575;
    margin-bottom: 20px;
}
.resume-description{
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
    
}
.btn-wrapper{
text-align: center;
margin-top: 50px;
margin-bottom: 113px;
}
/* footer section */
footer{
    background-color: #FFF8F3;
}
.footer-container{
    max-width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 130px 0px;
    gap: 117px;
}
.footer-info{
    max-width: 562px;
}
.footer-description{
    font-size: 16px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
}
.icons a {
    margin-right: 20px;
}
input , [type="email"]{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}